<footer style= "margin-top: 2em">
    <div class="salto"></div>
    <p style="color:rgb(25, 2, 129)">TODOS LOS DERECHOS RESERVADO</p>
    <p style="color:rgb(25, 2, 129">T-WHITE-CODE</p>
</footer>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>