{{>header}}
<div class="container" style="border-left: 1px solid silver; border-right: 1px solid silver  "> 
    <center>
        <br>
        <br>
        <h1>Usted ha eliminado a: {{Cnombre}}</h1>
    </center>

    {{{listaC cursos}}}

{{>footer}}