{{>header}}
<div class="container" style="border-left: 1px solid silver; border-right: 1px solid silver  "> 
    <center>
        <br>
        <br>
        <h1>Usted ha cambiado el estado de {{{curso}}} a: {{estado}}. Y se lo ha asignado a {{{profesor}}}</h1>
    </center>

{{>footer}}