{{>header}}
<div class="container" style="border-left: 1px solid silver; border-right: 1px solid silver  "> 
    <h1>Cursos</h1>
    <h1>El curso:</h1>
    <h1>{{{curso}}}</h1>
    <h1>Fue Creado Exitosamente</h1>

{{>footer}}