{{>header}}
<div class="container" style="border-left: 1px solid silver; border-right: 1px solid silver  "> 
    <center>
        <br>
        <h1>Usted se ha eliminado del curso {{nombreCurso}}</h1>
    </center>

{{>footer}}