{{>header}}
<div class="container" style="border-left: 1px solid silver; border-right: 1px solid silver  "> 
  <h2>Bienvenido a la Página de Inicio del Tecnológico de Antioquia</h2>
  <br>
  <p>Para inscribirse por favor llene el siguiente formulario.</p>

  </form>
     <div class= "container">
        <div id= "Registrar" class= "row">
            <div class = "col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class= "card card-signin my-5">
                    <div class= "card-body">
                        <h5 class= "card-title text-center">Registro</h5>     
                        <form action="/" method="post">
                            <div class="form-label-group">
                                <input type="text" name="nombre" class="form-control" placeholder="Ingrese su Nombre" required autofocus>
                                <label for="nombre"></label>
                            </div>

                            <div class="form-label-group">
                                <input type="text" name="rol" class="form-control" placeholder="Ingrese su Rol - ej: Aspirate" required autofocus>
                                <label for="rol"></label>
                            </div>

                            <div class="form-label-group">
                                <input type="number" name="documento" class="form-control" placeholder="Ingrese su Cédula" required autofocus>
                                <label for="documento"></label>
                            </div>
                            <div class="form-label-group">
                                <input type="text" name="correo" class="form-control" placeholder="Ingrese su e-mail" required autofocus>
                                <label for="correo"></label>
                            </div>
                            <div class="form-label-group">
                                <input type="number" name="telefono" class="form-control" placeholder="Ingrese su Teléfono" required autofocus>
                                <label for="telefono"></label>
                            </div>
                            <div class="form-label-group">
                                <input type="password" name="contraseña" class="form-control" placeholder="Ingrese una contraseña" required>
                                <label for="contraseña"></label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Registrar</button>
                            <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
	
{{>footer}}
