{{>header}}
<div class="container" style="border-left: 1px solid silver; border-right: 1px solid silver  "> 
    <center>
        <br>
        <br>
        <h1>Usted ha cambiado la cuenta de {{{alumno}}} a: {{rol}}. </h1>
    </center>

{{>footer}}